trackio/__pycache__/
tests/__pycache__/
test-results/
.trackio/
.gradio/
trackio.db
*.pyc
*.pyi
*.claude/
.venv/
**/.DS_Store
*.daggr_sessions.db
node_modules/
/dist/
examples/test.py
daggr/frontend/dist/
build/
tf_test_run/
venv/
.vscode/