include LICENSE
include README.md
include daggr/package.json
recursive-include daggr *.py *.pyi
recursive-include daggr/frontend/dist *
recursive-include daggr/assets *
prune daggr/canvas-component
prune daggr/frontend/node_modules
prune daggr/frontend/src
